
<style type="text/css">
    @page {
            margin-top: 0.0em;
            margin-bottom: 0.0em;
            margin-left: 0.0em;
            margin-right: 0.0em;
        }
        
    
    .print_page
    {
        font-family: "Calibri" !important;
        font-size: <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: settings</p>
<p>Filename: stampe/container_stampa.php</p>
<p>Line Number: 14</p>

</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Trying to access array offset on value of type null</p>
<p>Filename: stampe/container_stampa.php</p>
<p>Line Number: 14</p>

</div>mm !important;

        <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: settings</p>
<p>Filename: stampe/container_stampa.php</p>
<p>Line Number: 19</p>

</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Trying to access array offset on value of type null</p>
<p>Filename: stampe/container_stampa.php</p>
<p>Line Number: 19</p>

</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: settings</p>
<p>Filename: stampe/container_stampa.php</p>
<p>Line Number: 20</p>

</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Trying to access array offset on value of type null</p>
<p>Filename: stampe/container_stampa.php</p>
<p>Line Number: 20</p>

</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: settings</p>
<p>Filename: stampe/container_stampa.php</p>
<p>Line Number: 21</p>

</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Trying to access array offset on value of type null</p>
<p>Filename: stampe/container_stampa.php</p>
<p>Line Number: 21</p>

</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: settings</p>
<p>Filename: stampe/container_stampa.php</p>
<p>Line Number: 22</p>

</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Trying to access array offset on value of type null</p>
<p>Filename: stampe/container_stampa.php</p>
<p>Line Number: 22</p>

</div>        height: mm;
        
        padding-top:<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: settings</p>
<p>Filename: stampe/container_stampa.php</p>
<p>Line Number: 34</p>

</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Trying to access array offset on value of type null</p>
<p>Filename: stampe/container_stampa.php</p>
<p>Line Number: 34</p>

</div>mm;
        padding-left:<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: settings</p>
<p>Filename: stampe/container_stampa.php</p>
<p>Line Number: 35</p>

</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Trying to access array offset on value of type null</p>
<p>Filename: stampe/container_stampa.php</p>
<p>Line Number: 35</p>

</div>mm;
        

    }
    
</style>
<div class="container_stampa">
<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Libre Barcode 39' rel='stylesheet'>
<style>
.barcode {
    font-family: 'Libre Barcode 39';
    font-size: 74px;
    text-align: center;
}
</style>
</head>
<body>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div style="text-align: center">Copertina Paziente</div>
<div style="text-align: center">Cognome</div>
<div style="text-align: center">Nome</div>
    <div class="barcode">PAZIENTE-<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: codicepaziente</p>
<p>Filename: stampe/bianda_copertina_pdf.php</p>
<p>Line Number: 23</p>

</div></div>

</body>
</html></div>
